body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: antiquewhite; */
}

#mynetwork {
    width: 100vw;
    height: 100vh;
    /* background-color: tomato; */
}